{% extends 'main/layout.html' %}

{% block title %}Add article{% endblock %}

{% block content %}
<div class="features">
    <h1>Add article</h1>
    <form method="post">
        {% csrf_token %}<br>

        {{ form.title }}<br>
        {{ form.anons }}<br>
        {{ form.full_text }}<br>
        {{ form.date }}<br>

        <button class="p-2 outline outline-1 outline-offset-4 outline-[#AF92B3]/50 rounded-md" type="submit">Add</button><br>
        <span>{{ error }}</span>
    </form>
</div>

{% endblock %}