{% extends 'main/layout.html' %}

{% block title %}News in site{% endblock %}

{% block content %}
<div class="features">
    <h1>News in site</h1>
    <hr>
    {% if news %}
    {% for el in news %}
        <div class="article">
            <h3>{{ el.title }}</h3>
            <p>{{ el.anons }}</p>
            <p>{{ el.full_text }}</p>
            <p class=" pt-0.5 text-slate-500 text-sm">{{ el.date }}</p>
        </div>
    <hr>
    {% endfor %}
    {% else %}
    <p>У вас нет записей</p>
    {% endif %}


</div>

{% endblock %}