<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<input type="checkbox" id="nav-toggle-l" hidden>
<input type="checkbox" id="nav_toggle_r" hidden>
<div id="preloader" style="display: none;">
    <h3>Loading...</h3>
</div>
<!--<label >≡</label>-->
<aside id="nav-panel-l" for="nav-toggle-l" onclick>
    <img src="{% static 'main/img/ava.png' %}" class="ava cursor-zoom-in" alt="logo_icon">
    <div class="logo-div"><span class="logo">MySite</span></div>
    <ul>
        <li><a href="{% url 'main' %}" class="nav-link">Main </a></li>
        <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
        <li><a href="{% url 'news_home' %}" class="nav-link">News</a></li>
        <li><a href="{% url 'contacts' %}" class="nav-link">Contacts</a></li>
        <li><a href="{% url 'weather' %}" class="nav-link">Weather</a></li>
        <li><a href="{% url 'create' %}" class="nav-link">
            <button class="p-2 outline outline-1 outline-offset-4 outline-[#AF92B3]/50 rounded-md">Add post</button>
        </a>
        </li>
    </ul>
</aside>

<div id="container">
    <header>
        <nav>
            <div class="logo-div"><a href="{% url 'main' %}" class="logo nav-link">MySite</a></div>
            <div id="nav-links">
                <a href="{% url 'main' %}" class="nav-link">Main </a>
                <a href="{% url 'about' %}" class="nav-link">About</a>
                <a href="{% url 'news_home' %}" class="nav-link">News</a>
                <a href="{% url 'contacts' %}" class="nav-link">Contacts </a>
                <a href="{% url 'weather' %}" class="nav-link">Weather</a>
            </div>
        </nav>        
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    
</div>
<footer>

    <a href="{% url 'main' %}" class="nav-link">Main </a>
    <a href="{% url 'about' %}" class="nav-link">About</a>
    <a href="{% url 'news_home' %}" class="nav-link">News</a>
    <a href="{% url 'contacts' %}" class="nav-link">Contacts </a>

</footer>
<!--<script src="{% static 'main/js/three.min.js' %}"></script>-->
<!--<script src="{% static 'main/js/vanta.cells.min.js' %}"></script>-->
<!--<script src="{% static 'main/js/animation.js' %}"></script>-->
<script src="{% static 'main/js/main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'main/js/navigation.js' %}"></script>

</body>
</html>