body {
    background: rgb(0,0,0);
    background: linear-gradient(132deg, rgba(0,0,0,1) 47%, rgba(34,0,47,1) 70%, rgba(42,0,59,1) 77%, rgba(54,0,78,1) 83%, rgba(58,0,84,1) 87%, rgba(64,0,94,1) 91%, rgba(68,0,101,1) 94%, rgba(70,0,106,1) 97%, rgba(79,0,119,1) 100%);
    background-size: 150% 150%;
    animation: gradient 10s ease infinite;
}



aside{
background: linear-gradient(132deg, rgba(0,0,0,1) 47%, rgba(34,0,47,1) 70%, rgba(42,0,59,1) 77%, rgba(54,0,78,1) 83%, rgba(58,0,84,1) 87%, rgba(64,0,94,1) 91%, rgba(68,0,101,1) 94%, rgba(70,0,106,1) 97%, rgba(79,0,119,1) 100%);
    background-size: 250% 250%;
    animation: gradient 8s ease infinite;
    float: left;

    width: 22%;
    padding: 2.5%;
    height: 100vh;
    color: #875B8E;
    border-right: 2px solid #5C3566;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
aside img{
    height: 150px;
    border-radius: 50%;
    margin: 70px 0 50px 0 ;
    animation: zoom 10s ease infinite;
    cursor: pointer;
}

aside img:hover{
    transform: scale(1.06);
}

aside table {
  table-layout: fixed;
  width: 100%;
}

aside tr{
    text-align: center;
    height: 80px;
}

#logo_div{
    position: relative;
    display: inline;
}

aside .logo{
    font-size: 35px;
    padding: 4px;
    font-weight: bold;
    display: table-cell;

}

@keyframes zoom {
  0% {box-shadow:
    0 0 11px #623868,
    0 0 20px #623868,
    0 0 30px #875B8E,
    0 0 55px #A185A5,
    0 0 80px #AF92B3;}
  50% {box-shadow:
    0 0 0 #623868,
    0 0 0 #623868,
    0 0 0 #875B8E,
    0 0 0 #A185A5,
    0 0 0 #AF92B3;}
  100% {box-shadow:
    0 0 11px #623868,
    0 0 20px #623868,
    0 0 30px #875B8E,
    0 0 55px #A185A5,
    0 0 80px #AF92B3;}
}


aside ul {
    list-style: none;
    padding: 0;

}

aside ul li {
    font-size: 19px;
    display: block;
    margin-top: 15px;
    transition: transform .4s ease;

}

aside ul a{
    text-decoration: none;
    color: #875B8E;
}

aside ul li:hover, aside ul a:hover{
    color: #A185A5;
    text-decoration: none;
    transform: scale(1.06);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1{
    font-size: 50px;
}

main .features p{
    max-width: 400px;
    margin: 20px auto;
}

#nav{
    margin: auto;
}

.image-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    cursor: pointer;
}

form{
    width: 40%;
    margin: 25px auto;
}