body {
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(174, 103, 184));
    background-size: 150% 150%;
    animation: gradient 10s ease infinite;

}
#container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

#nav_links a{
    padding: 0 20px;
}

aside{
    /*background: linear-gradient(132deg, rgba(0,0,0,1) 47%, rgba(34,0,47,1) 70%, rgba(42,0,59,1) 77%, rgba(54,0,78,1) 83%, rgba(58,0,84,1) 87%, rgba(64,0,94,1) 91%, rgba(68,0,101,1) 94%, rgba(70,0,106,1) 97%, rgba(79,0,119,1) 100%);
    background-size: 250% 250%;*/
    animation: gradient 8s ease infinite;
    background-color: white;
    text-align: center;
    position: fixed;
    width: 50%;
    z-index: 2000;
    color: #875B8E;
}

#nav_panel_l{
    clip-path: polygon(0 0, 98% 0, 77% 28%, 96% 43%, 84% 64%, 94% 83%, 87% 100%, 0 100%);
    float: left;
    left: 0px;
    padding: 20px 90px 20px 10px;
    height: 100%;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.5s;
}

#nav_panel_r{
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 15% 83%, 5% 64%, 15% 43%, 0 28%, 18% 0);
    float: right;
    right: 0px;
    padding: 20px 10px 20px 90px;
    height: 100%;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.5s;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
aside img{
    height: 150px;
    border-radius: 50%;
    margin: 70px auto 50px auto;
    animation: zoom 10s ease infinite;
}

aside img:hover{
    transform: scale(1.06);
}

aside table {
  table-layout: fixed;
  width: 100%;
}

aside tr{
    text-align: center;
    height: 80px;
}

.logo_div{
    position: relative;
    display: inline;
}

.logo{
    font-size: 35px;
    padding: 4px;
    font-weight: bold;
    display: table-cell;
    color: #875B8E;
}

@keyframes zoom {
  0% {box-shadow:
    0 0 11px #623868,
    0 0 20px #623868,
    0 0 30px #875B8E,
    0 0 55px #A185A5,
    0 0 80px #AF92B3;}
  50% {box-shadow:
    0 0 0 #623868,
    0 0 0 #623868,
    0 0 0 #875B8E,
    0 0 0 #A185A5,
    0 0 0 #AF92B3;}
  100% {box-shadow:
    0 0 11px #623868,
    0 0 20px #623868,
    0 0 30px #875B8E,
    0 0 55px #A185A5,
    0 0 80px #AF92B3;}
}


aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    font-size: 19px;
    display: block;
    margin-top: 15px;
    transition: transform .3s ease;
}

aside ul a{
    text-decoration: none;
    color: #875B8E;
}

aside ul li:hover, aside ul a:hover{
    color: #A185A5;
    text-decoration: none;
    transform: scale(1.06);
}

main{
    padding: 0 150px;
    color: #fff;
    text-align: center;
}

main .features h1{
    font-size: 40px;
}

.features button{
    width: fit-content;
    margin: auto;
}

.article{
    max-width: 500px;
    margin: 10px auto;
}

.article h3{
    font-size: 20px;
}

.article p{
    font-size: 17px;
}

#nav_panel{
    margin: auto;
}

.image-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2002;
}

form{
    width: 40%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}

.input_post{
    margin-bottom: 10px;
    color: #000;
}


footer {
    height: 120px;
    background: #000;
    padding: 1% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: auto;
    box-shadow:
    0 0 5px #623868,
    0 0 15px #623868,
    0 0 20px #875b8e,
    0 0 40px #a185a5,
    0 0 50px #af92b3;
}

footer a{
    text-decoration: none;
    color: #875B8E;
    transition: transform .3s ease;
}

footer a:hover{
    color: #A185A5;
    text-decoration: none;
    transform: scale(1.06);
}